th, td{
    padding: 15px;
    text-align: left;
    border-bottom: 3px solid #7D2E68;
    border-left: 3px #A85751;
    border-right; 3px #A85751;
    background: #C97B84;
    }

ul{
display: flex;
flex-direction: row;
justify-content: space-around;
}

h1{
font-family: 'Indie Flower', cursive;
color: #C97B84;
display: flex;
justify-content: center;}

p{
color: #C97B84;
display: flex;
justify-content: center;
}