<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div class="nav_bar">
<nav>
    <ul>
        <li><a href="/homepage">Home</a></li>
        <li><a href="/employees">All Employees</a></li>
        <li><a href="/managers">All Managers</a></li>
        <li><a href="/departments">All Departments</a></li>
        <li><a href="/engineers">All Engineers</a></li>
        <li><a href="/managers/new">New Manager</a></li>
        <li><a href="/departments/new">New Department</a></li>
        <li><a href="/engineers/new">New Engineer</a></li>
    </ul>
</nav>
</div>

<h1>Welcome to the HR Homepage!</h1>
<br>
<p>From here you can view all employees, as well as filter by manager, department and engineer.</p>
</body>
</html>