<!DOCTYPE html>
<link rel="stylesheet" href="styles.css">
<html>
    <head>
        <title>Employee Records</title>
    </head>
        <body>
            <div class="container">
                #parse( $template )
            </div>
        </body>
</html>